/* Footer base styling */
.footer {
  background-color: white;
  color: rgb(46, 44, 44);
  padding: 40px 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  max-width: 1145px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 0 10px;
  flex-wrap: nowrap;
}

.footer-section {
  flex: 1;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  margin-top: -25px;
}

.footer-section h4 {
  font-weight: 700;
  margin-top: -20px;
  font-size: 16px;
  color: #284b64;
}

.promotional-text {
  font-size: 16px;
  color: #284b64;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 13px;
}

.footer-links a:hover {
  color: #6772e5;
}

.newsletter-container {
  display: flex;
  flex-direction: column; /* Stacked vertically */
  align-items: center;
  gap: 10px;
}

.newsletter-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  gap: 1px; /* Space between the elements */
  margin-top: 0; /* Remove any top margin */
}

.newsletter {
  display: flex;
  flex-direction: column; /* Stack the input and button vertically */
  align-items: center;
  gap: 10px; /* Space between input and button */
}

.promotional-text {
  font-size: 16px;
  color: #284b64;
  margin-bottom: 0; /* Remove bottom margin */
}

.newsletter-input {
  padding: 8px;
  font-size: 14px;
  width: 180px;
  border: 1px solid #3d6e71;
  border-radius: 4px;
  color: #333;
  margin-left: -60px; /* Ensure no space above input */
}

.subscribe-button {
  padding: 8px 12px;
  background-color: #284b64;
  color: #ffd9d8;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  margin-left: -150px;
  margin-top: -5px;
}

.subscribe-button:hover {
  background-color: #3d6e71;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 120px;
}

.social-icon {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icons svg {
  color: #284b64;
  width: 20px;
  height: 18px;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 12px;
}

.ash-line {
  height: 1px;
  background: rgba(128, 128, 128, 0.5);
  margin: 5px 0;
}
