/* General styles */
.intro-section {
  font-family: "Raleway", sans-serif;
  padding: 30px 10vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  gap: 5vw;
  position: relative;
}

.intro-section .text-wrapper {
  max-width: 50%;
  text-align: left;
}

.intro-section .text {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.intro-section.visible .text {
  opacity: 1;
  transform: translateX(0);
}

.learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 30px;
  font-size: 1rem;
  color: #284b64;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.learn-more:hover {
  color: #3d6e71;
}

.learn-more .arrow-right {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.learn-more:hover .arrow-right {
  transform: translateX(5px);
}

.intro-section .dotted-image {
  width: 50%;
  max-width: 120px;
  height: auto;
  margin-bottom: -96px;
  margin-top: 50px;
}

.intro-section .intro-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  display: block;
}

.intro-section .dash {
  width: 50px;
  height: 5px;
  background-color: #284b64;
  margin-top: 0px;
  margin-bottom: 15px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.intro-section.visible .dash {
  opacity: 1;
  transform: translateX(0);
}

.intro-section h3 {
  font-family: "Cookie", cursive;
  font-size: 2.7rem;
  color: #284b64;
  margin-top: 15px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease 0.2s, transform 0.6s ease 0.2s;
}

.intro-section.visible h3 {
  opacity: 1;
  transform: translateX(0);
}

.intro-section p {
  color: #353535;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease 0.4s, transform 0.6s ease 0.4s;
}

.intro-section.visible p {
  opacity: 1;
  transform: translateX(0);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .intro-section {
    padding: 30px 5vw;
    height: auto;
    flex-direction: row;
    gap: 3vw;
  }

  .intro-section .text-wrapper {
    max-width: 50%;
  }

  .intro-section .intro-image {
    width: 50%;
  }

  .intro-section h3 {
    font-size: 2rem;
  }

  .intro-section p {
    font-size: 1.1rem;
    margin-top: 20px;
  }

  .intro-section .dotted-image {
    width: 35%;
    margin-top: 20px;
    margin-bottom: -20px;

    .learn-more {
      font-size: 1.2rem;
      margin-top: 20px;
    }

    .learn-more .arrow-right {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    .intro-section {
      padding: 20px 4vw;
      flex-direction: row;
      text-align: center;
    }

    .intro-section .text-wrapper {
      max-width: 50%;
    }

    .intro-section h3 {
      font-size: 1.3rem;
    }

    .intro-section p {
      font-size: 0.8rem;
      margin-top: 15px;
    }

    .learn-more {
      font-size: 1rem;
      margin-top: 20px;
    }

    .learn-more .arrow-right {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 480px) {
    .intro-section {
      padding: 15px 3vw;
      text-align: center;
    }

    .intro-section h3 {
      font-size: 1.5rem;
    }

    .intro-section p {
      font-size: 0.9rem;
    }

    .learn-more {
      font-size: 0.9rem;
    }

    .intro-section .dotted-image {
      width: 20%;
      max-width: 50px;
    }

    .intro-section .intro-image {
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
}
